$color-black: #2f2f31;
$color-white: #FFFFFF;
$color-pink: #EC407A;
$color-blue: #42A5F5;
$color-offwhite: #fdfcfb;

$spacing-default: 20px;
$spacing-double: $spacing-default * 2;
$spacing-treble: $spacing-default * 3;
$spacing-quadruple: $spacing-default * 4;
$spacing-half: $spacing-default / 2;
$spacing-quarter: $spacing-default / 4;

$width-small: 780px;
$width-standard: 1000px;
$width-large: 1280px;

$font-family: 'Muli', sans-serif;

$radius-small: 3px;
$radius-standard: 5px;
$radius-large: 10px;
